# dotenv
*.env
*.env.*
!*.env.example*

# npm
node_modules

# vscode
.vscode/*
!.vscode/extensions.json

# Testing
coverage

# turborepo
.turbo

# python
.venv

# next.js
.next

# builds
dist
build

# reports
schemathesis-report

# temporary
tmp
temp

# others
.hypothesis